@import url('normalize.css');
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

.c000, .c000i {
	background: #FF0000;	
}

.c025, .c025i {
	background: #FF0000;	
}

.c050, .c050i {
	background: #FF9900;	
}

.c075, .c075i {
	background: #FFCC00;	
}

.c100, .c100i {
	background: rgb(155,255,115);
}

.exception, .exceptioni {
	background: grey;
}

.new, .newi{

}

.old, .oldi{

}

.fade {
	opacity: 1;
	transition: opacity .25s ease-in-out;
}

.hidden{
	display: none;
	-webkit-transition: all 500ms ease 1s;
	transition: all 500ms ease 1s;
}

.indicator{
	padding: 5px;
}

.ongoing, .ongoingi{
	background: rgb(60,113,255);
}

.opacity {
	opacity: 0.5;
	transition: opacity .25s ease-in-out;
}

.problem{
	background: repeating-linear-gradient(
					45deg,
					yellow,
					yellow 10px,
					black 10px,
					black 20px);
}

.message {
	color: #F8F8F8;
	font-size: 1.2em;
	display: block;
	margin-top: 73px;
}

#dropbox {
	height: 110px;
	/*background-color: #454545;*/
	border-radius: 3px;
	box-shadow: inset 1px 2px 8px 1px rgba(0, 0, 0, .4);
}

#dropbox: hover{
	background: repeating-linear-gradient(
					45deg,
					yellow,
					yellow 10px,
					black 10px,
					black 20px);
}

#exceptions {
	display: none;
	height: 110px;
	background-color: #454545;
	border-radius: 3px;
	box-shadow: inset 1px 2px 8px 1px rgba(0, 0, 0, .4);
}
