@import url('normalize.css');
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

.c000:hover {
	background: rgb(255,132,32);	
}

.c025:hover {
	background: rgb(255,195,93);	
}

.c050:hover {
	background: rgb(255,132,32);	
}

.c075:hover {
	background: rgb(247,255,104);	
}

.c100:hover {
	background: rgb(155,255,115);
}

#container {
	margin: 50px 0 0 50px;
	width: 700px;
	height: 350px;
}

#controls {
	font-family: 'Droid Serif', serif;
	font-size: 1em;
	line-height: 1.5em;
	right: 30px;
	top: 100px;
	width: 280px;
	position: absolute;
}

#dropbox {
	width: 280px;
	height: 110px;
	background: url(images/download.png) no-repeat center center;
	background-color: #454545;
	position: absolute;
	right: 30px;
	bottom: 20px;
	border-radius: 3px;
	box-shadow: inset 1px 2px 8px 1px rgba(0, 0, 0, .4);
}

#maincontent{
	width: 70%;
}

#message {
	color: #F8F8F8;
	font-size: 1.2em;
	bottom: 5px;
	display: block;
	text-align: center;
	margin-top: 73px;
}
