@import url('normalize.css');
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

.c000 {
	background: #FF0000;	
}

.c025 {
	background: #FF0000;	
}

.c050 {
	background: #FF9900;	
}

.c075 {
	background: #FFCC00;	
}

.c100 {
	background: rgb(155,255,115);
}

.indicator{
	padding: 5px;
}

.message {
	color: #F8F8F8;
	font-size: 1.2em;
	display: block;
	margin-top: 73px;
}

#dropbox {
	height: 110px;
	background-color: #454545;
	border-radius: 3px;
	box-shadow: inset 1px 2px 8px 1px rgba(0, 0, 0, .4);
}

#exceptions {
	display: none;
	height: 110px;
	background-color: #454545;
	border-radius: 3px;
	box-shadow: inset 1px 2px 8px 1px rgba(0, 0, 0, .4);
}
